.highlight {
    border: 2px solid blue;
    background-color: blue;
  }

  .bcd{
    background-color: aqua;
    width: 100px;
    height: 100px;
  }
  .editable {
  cursor: pointer;
}

input.edit-input {
  width: 100%;
  font-size: 16px;
}
